/* * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

body {
    overflow-x: hidden;
    background-color: #eeeeee;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(179,768,361)'%3E%3Cstop offset='0' stop-color='%23eeeeee'/%3E%3Cstop offset='1' stop-color='%2375b3bb'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='1099' height='915.8' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

/* search bar */
.inputIcon2 i {
    position: absolute;
}

.inputIcon2 ::placeholder {
    color: #0e545e;
    font-size: 1rem;
}

.icon2 {
    padding: 13px;
    min-width: 70px;
    text-align: center;
}

.searchbar2 {
    justify-content: center;
    margin: 4%;
    color: #0e545e;
}

.inputIcon2 input:focus {
    outline: none;
}

.inputIcon2 input {
    color: #0e545e;
}

.search2 {
    border-radius: 15px;
    background-color: #e0f3f6;
    border: none;
    padding: 1% 15%;
    font-size: large;
    width: 450px;
}

/* Filters */

.filtersHeading {
    background: #e0f3f6;
    color: #0e545e;
}

.filtersHeading h4 {
    float: left;
    text-align: center;
    margin-bottom: 0;
    margin-top: 4px;
}

.filtersHeading:hover {
    color: #56a8b4;
}

.filtersContain {
    border-radius: 12px;
    position: absolute;
    background: #e0f3f6;
    color: #0e545e;
    line-height: 40px;
    padding: 8px 20px;
    box-sizing: border-box;
    user-select: none;
    width: 60%;
    margin-left: 10%;
    font-size: 1.5rem;
}

.filtersContain button {
    font-weight: 500;
    display: block;
    cursor: pointer;
    border: none;
    width: 100%;
    text-align: center;
}

.filtersContain .button span {
    float: right;
    line-height: 40px;
    transition: 0.5s;
}

.filtersContain .button span.rotate {
    transform: rotate(-180deg);
}

.filtersContain ul {
    position: absolute;
    background: #0e545e;
    color: #e0f3f6;
    list-style: none;
    display: none;
    width: 100%;
    left: 0;
    padding: 5px;
    top: 56px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.filtersContain [id^="btn"]:checked+ul {
    display: block;
}

.filtersContain .menu:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 30px;
    background: #0e545e;
    color: #e0f3f6;
    transform: rotate(45deg);
    z-index: -1;
}

.filtersContain ul li {
    visibility: visible;
    line-height: 40px;
    cursor: pointer;
    border-bottom: 1px solid #97caca;
    background: #0e545e;
    color: #e0f3f6;
}

.filtersContain ul :last-child {
    border-bottom: none;
}

.filtersContain ul li button {
    visibility: visible;
    font-size: 1rem;
    padding: 10px;
    background: #0e545e;
    color: #e0f3f6;
}

.filtersContain ul li a {
    text-decoration: none;
    font-size: 1rem;
    display: block;
}

.filtersContain ul li a:hover {
    color: #56a8b4;
}

.filtersContain ul li button:hover {
    color: cyan;
}

.filtersContain ul ul {
    background: #e0f3f6;
    position: static;
    padding: 0;
    text-align: center;
}

.menu li ul li {
    display: none;
}

.filtersContain ul ul li {
    line-height: 30px;
    border-bottom: 1px solid #0e545e;
}

.filtersContain ul ul li :last-child {
    border-bottom: none;
}

.filtersContain ul ul li a {
    color: #0e545e;
    background: #e0f3f6;
    border-radius: 10px;
    font-size: 1rem;
    padding: 5px;
    display: block;
}

.filtersContain ul li span {
    font-size: 1rem;
    float: right;
    margin-top: 0px;
    padding: 0 10px;
    transition: 0.5s;
}

.filtersContain ul li span.rotate {
    transform: rotate(-180deg);
}

.filtersContain input {
    display: none;
}

/* Cards */
.card {
    color: #0e545e;
    background-color: #e0f3f6;
}

.container1 {
    background-color: #e0f3f6;
    border-radius: 2%;
}

.container1 h3 {
    margin: 2% 0;
}

.container1 h5 {
    font-size: 1.1rem;
    margin-top: 0.5rem;
}

.cardImg {
    height: 130px;
}

.microsoft {
    height: 18px;
    width: 16px;
    margin-right: 10px;
}

.container2 p {
    font-size: 0.9rem;
}

.readMore {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: .3rem;
    background-color: #e0f3f6;
    color: #0e545e;
}

.readMore:hover {
    color: #56a8b4;
}